@{
    ViewBag.Title = "CreateMember";
    @Styles.Render("~/Content/airoplane.css")
}

<body>
    <form id="myForm">
        <h2>CreateMember</h2>
        <div>
            @Html.Label("Name")
            <input  class="form-control" type="text" name="name" id="name" />
        </div>
        <div>
            @Html.Label("Choose profession")
            <select class="form-control" id="professionDropdown" name="professionDropdown"></select>
        </div>
        <input type='submit' id="submit" class="btn btn-warning" value='Submit' />
    </form>
    <div class="plane">
        <div class="ver-stab"></div>
        <div class="ver-stab-tri"></div>
        <div class="nose">
            <div class="window1"></div>
            <div class="window2"></div>
            <div class="window3"></div>
            <div class="window4"></div>
        </div>
        <div class="back-body"></div>
        <div class="hor-stab"></div>
        <div class="hor-stab2"></div>
        <div class="wing"></div>
        <div class="wing-bottom"></div>
        <div class="wing right"></div>
        <div class="wing-bottom wing-right"></div>
        <div class="engine">
            <div class="fan">
                <div class="front">
                    <div class="fan inner"></div>
                </div>
            </div>
        </div>
        <div class="engine eng-big2">
            <div class="fan">
                <div class="front">
                    <div class="fan inner">       </div>
                </div>
            </div>
        </div>
        <div class="engine eng-small">
            <div class="fan">
                <div class="front">
                    <div class="fan inner"></div>
                </div>
            </div>
        </div>
        <div class="engine eng-small small2">
            <div class="fan">
                <div class="front">
                    <div class="fan inner"></div>
                </div>
            </div>
        </div>
    </div>
</body>
@section scripts
{
    <script>
        $(document).ready(function () {

            $.ajax({
                type: "GET",
                url: "/api/profession",
                data: "{}",
                success: function (data) {
                    var s = '<option value="-1">Please Select a Profession</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].professionId + '">' + data[i].name + '</option>';
                    }
                    $("#professionDropdown").html(s);
                }
            });

            $('#submit').on("click", function () {
                var name = $("#name").val();
                var profId = $("#professionDropdown").val();
                $.ajax({
                    type: "POST",
                    url: "/api/crewmembers",
                    data: {
                        'fullName': name,
                        'professionId': profId
                    },
                    cache: false,
                    success: function () {
                        location.href = "http://localhost:57475/CrewMembers/ShowMembers"
                    }
                })
                return false;
            });
        });
    </script>
}