@{
    ViewBag.Title = "ShowMembers";
}

<h2>Crew members</h2>

<table id="members" class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Full name</th>
            <th>Profession</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            MembersController.fillTable();
            MembersController.deleteCrewMemeber();
        });
    </script>
}